h1 {
    background-color: green;
}
p{
    background-color:antiquewhite;
}
ol{
    background-color: aquamarine;
    border: 5px solid blue;
}
img{
    background-color: aliceblue;
    border: 5px solid seashell;
    border-radius: 10%;
}
table, th, td {
    padding: 10px;
    text-align: center;
    background-color: aquamarine;
    border: 3px solid blue;
}