body{
    background-color: lightblue;
}
h1 {
    text-align: center;
    font-family: cursive;
    color: palevioletred;
}
h3 {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orchid;
}

h4 {
    text-align:left;
    font-style: italic;
    color: orchid;
    font-family: cursive;
}
h6 {
    text-align: left;
    color: blue;
    text-decoration-line: underline;

}